* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eee;
    background-image: 
        linear-gradient(0deg, #735d3d00
        , #00000000
        , #bbd7ef45);
}
.calc {
    background-image: 
        linear-gradient(180deg, #735d3d57
        , #0000002b 15%
        , #ffffff 60%
        , white
        , white);
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 30px repeat(7, auto);
    width: 400px;
    height: 500px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 8px 15px #e5e2e298;
}
.calc h1 {
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    color: #00000073;
    user-select: none;
    grid-column: 1 / 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
.calc .cont-two {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 80px repeat(6, auto);
    padding: 20px;
    grid-column: 1 / 5;
    grid-row: 2 / 9;
    gap: 15px;
}
.calc .cont-two .print {
    color: #0000009d;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 35px 1fr;
    font-size: 40px;
    justify-content: center;
    gap: 5px;
    user-select: all;
    overflow: hidden;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

.calc .cont-two .print .result-one {
    grid-column-start: 2;
}

.calc .cont-two .print .result-now {
    grid-column: 1 / 3;
}

.calc .cont-two .print .math-element {
    grid-row-start: 1;
}
.calc .cont-two .claclatur {
    display: flex;
    flex-direction: row;
    grid-column: 1 / 5;
    grid-row: 2 / 8;
    gap: 10px;
}
.calc .cont-two .claclatur .numbers {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto);
    gap: 10px;
    height: 100%;
}

.calc .cont-two .claclatur .numbers span:hover {
    background-color: #5eabf7;
    box-shadow: 4px 2px 4px transparent;
    color: white;
}
.calc .cont-two .claclatur .numbers :first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.calc .cont-two .claclatur .numbers .assign {
    grid-column: 2 / 4;
    grid-row: 5;
}
.calc .cont-two .claclatur .numbers .assign:hover {
    background-color: gray;
    color: white;
}
.calc .cont-two .claclatur .calcs {
    width: 20%;
    display: grid;
    gap: 10px;
}

.calc .cont-two .claclatur .calcs span:hover {
    background-color: gray;
    color: white;
    box-shadow: 0 0 0 transparent;
}
.calc .cont-two .claclatur .calcs span,
.calc .cont-two .claclatur .numbers span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 1px #00000017;
    cursor: pointer;
    transition: .2s linear;
    user-select: none;
    font-size: 20px;
    color: #0000008a;
}